*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  margin: 0;
  padding:0;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar{
  position:sticky;
  background-color: #fff;
  line-height: 30px;
  box-shadow: 2px 0px 9px lightgreen;

}

.ul{
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
}


li{
  list-style-type: none;
  font-weight: bold;
  padding: 10px;
  line-height:30px;
}

a{
  text-decoration: none;
  color: green;
}

.heading{
  font-weight: bolder;
  font-size: 30px;
  color: green;
  margin-left: 10px;
}

.heading, a, li, .ul, .nav1{
  align-items: center;
}

.menuitems{
  margin-left: 140px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.active{
  padding: 20px;
  background-color: rgba(164, 231, 164, 0.7);
  color: black;
}

a:hover{
  color:black;
  text-decoration: none;
}
#request{
  color: white;
  font-weight: bold;
}

.tech{
  color: green;
  font-style: italic;
  font-family: 'Dancing Script', cursive;
  text-shadow: 0px 2px 8px lightgreen;
  text-transform: lowercase;
  font-size: 20px;
}
.reg{
 background-color: #052914;
  width: 150px;
  color: white;
  border-radius: 4px;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
}

.reg:hover{
  background-color: lightgreen;
  color:black;
}

.contactbgimg{
  background-image: url(./images/frontview.jpg);
  background-size: 1600px 800px;
  background-repeat: no-repeat;
  background-position: center;
  height: 60vh;
}

.coverimg{
background-color: rgba(255, 255, 255, 0.8);
}

.contact{
  
  padding: 40px;
  text-align: center;
  height: 60vh;
  outline: 1px solid black;
  width: 50%;
  justify-content: center;
}

p{
  text-align: center;
}


.footer{
  background-color: rgba(164, 231, 164, 0.7);
  padding:30px;
}

.copyright{
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

#connect{
  font-size: 20px;
  font-weight: bold;
  color: green;
}

.socials{
  background-color: rgba(109,109,109,0.1);
  text-align: center;
  padding: 30px;
}

.socialimg{
  width: 30px;
  height: 30px;
  margin:20px;
  cursor: pointer;
}

.footermenus{
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.copyright{
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

h5{
	font-size: 18px;
}